/* natural box model */
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.enlargen{
  transform: scale(160%);
  padding-bottom: 50px;
}
/* no break */
.nobr {
  white-space: nowrap;
}

/* Changes the font to  Noto Sans Japanese*/
*{
  font-family: 'PT Sans', sans-serif;
}


/* Resizes the crowley image*/
.crowleyImg{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* creates a unique container for the index page */
.containerIndex{
  width: 65%;
  margin: auto;
}

.centerImg{
  width: 30%;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.deviation{
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.matrix{
  display: block;
  width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* centers the header*/
.centerH1{
  text-align: center;
}
/*Changes background and font color*/
body {
  background-color: #2f3078;
  color: #F5F5F5;
}
/*General container for most pages*/

.container{
  width: 80%;
  margin: auto;
  
}
/*Changes h1 and p padding and font*/

h1{
  padding-top: 20px;
  font-size: 38px;
}
p{
  font-size: 20px;
}

/* Centers the image and makes it darker */

.portrait, .potter, .duck{
  width: fit-content;
  height: auto;
}

/*Modify Carousel positioning*/


.carousel div img {
  max-width: 40%;
  height: auto;
  margin: auto;
}
.carousel div h4 {
  text-align: center;
}
/*important tag is required here*/

.slick-prev {
  left: 50px !important;
  z-index: 100 !important;
}

.slick-next {
  right: 50px !important;
}

/*Modifies the layout of the 2 maps*/

#mapDFAS, #mapLab {
  height: 400px;
  width: auto;
  margin-bottom: 80px;
  margin-top: 30px;
}


/*Adds a flex box and changes the postitioning of the projects page*/

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
figure {
  background: #3133a8;
  color: #F5F5F5;
}
figcaption{
  text-align: center;
  font-size: 22px;
}


.projectsFlex {
  display: flex;
  padding-bottom: 40px;
  flex-wrap: wrap;
  flex-direction: column;
}

.innerFlexProject {
  flex: 1;
  height: 25%;
  width: 25%;

}

.innerFlexProject a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


/*Unique container for certain pages*/


.wideContainer{
  width: 90%;
  margin: auto;
}

/*!
* Hover.css (http://ianlunn.github.io/Hover/)
* Version: 2.3.2
* Author: Ian Lunn @IanLunn
* Author URL: http://ianlunn.co.uk/
* Github: https://github.com/IanLunn/Hover

* Hover.css Copyright Ian Lunn 2017. Generated with Sass.
*/
/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}





/* Link in normal state */
a {
  color: #043c4a;
  text-decoration: underline;
}

/* Link when hovered */
a:hover {
  color: whitesmoke;
  text-decoration: none;
}

/* Link when clicked */
a:active {
  color: #000000;
  text-decoration: none;
}

/* Link when it has been visited */
a:visited {
 
}


/* css for the nav and the navbar links */
nav{
  width: 75%;
  padding-top: 20px;
  font-size: 20px;
  top: 10px;
  margin: auto;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

nav a{
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  padding-bottom: 10px;
}





/*adjusts the table on the contacts page*/

td{
  padding-left: 40px;
  padding-top: 50px;
}
td a{
  padding-right: 10px;
}

.contactsPage td{
  font-size: 20pt;
}


.contactsPage {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}


/*Creates a flexbox for the contact page for media queries*/

.tableC, .formC {
  flex: 1;
}

.formC {
  margin-left: 20px;
}


/*Creates a flexbox for the contact page for the work pages to work with media queries*/

.workFlex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}

.workFlex .carousel{
  width: 60%;
  text-align: center;
}

h2{
  padding-top: 30px;
  font-size: 26px;  
}

#centerH2{
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 26px;
}




.leaflet-popup-content {
  text-align: center;
}

.work h1{
  text-align: center;
  font-size: 36px;
}

.fa{
  font-size: 22px !important;
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default 

Most of these change the flex to columns when the window is smaller
*/

/* made my own default media query*/
@media (min-width: 0px){
  .workFlex{
    flex-direction: column;
  }
  .workFlex .slick-slider{
    margin: 0 auto;
  }
  .contactsPage{
    flex-direction: column;
  }
  .formC{
    padding-top: 20px;
  }
  .projectsFlex{
    flex-direction: column;
    align-items: center;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .workFlex{
    flex-direction: column;
  }
  .workFlex .slick-slider{
    margin: 0 auto;
  }
  .contactsPage{
    flex-direction: column;
  }
  .formC{
    padding-top: 20px;
  }

  .projectsFlex{
    flex-flow: row wrap;
  }
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .workFlex{
    flex-direction: column;
  }
  .contactsPage{
    flex-direction: column;
  }
  .contactsPage{
    flex-direction: column;
  }
  .formC{
    padding-top: 20px;
  }
  .projectsFlex{
    flex-direction: row;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .workFlex{
    flex-direction: row;
  }
  .contactsPage{
    flex-direction: row;
  }
  .projectsFlex{
    flex-direction: row;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .workFlex{
    flex-direction: row;
  }
  .contactsPage{
    flex-direction: row;
  }
  .projectsFlex{
    flex-direction: row;
  }
}